body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 380px;
}

.container h1 {
	text-align: center;
}


label {
  font-weight: bold;
  display: inline-grid;
  width: 42%;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  display: inline-grid;
  width: 45%;
}

button {
  display: table;
  margin: 0 auto;
  margin-top: 15px;

  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#error-message {
  color: red;
  font-weight: bold;
}

